*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

.debug {
  outline: 2px dashed green !important;
}

.debug>* {
  outline: 1px dashed red !important;
}

.container {
  max-width: 1500px;
  margin: 1em auto;
}